.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.item {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  grid-template-rows: 50px;
  align-items: center;
  gap: 1rem;
  background: #f7f7f7;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.img {
  max-width: 100%;
  border-radius: 4px;
}

.title {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.access {
  font-family: monospace;
  font-size: 0.87rem;
  color: #999;
}
