body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 300px;
  margin: 0 auto;
}

.anime {
  opacity: 0;
  transform: translateX(-10px);
  animation: anime 0.3s forwards;
}

@keyframes anime {
  to {
    transform: initial;
    opacity: 1;
  }
}
